<mat-form-field class="ms-3" style="width: 98%;">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
</mat-form-field>
<div class="grid-container px-3">
    <app-download-csv-button></app-download-csv-button>
  
    <div class="mat-elevation-z8 h-100 shadow-none" >
        
      <!-- transactions.component.html -->
      
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID PEDIDO</th>
          <td mat-cell *matCellDef="let transaction"> {{ transaction.id }} </td>
        </ng-container>
    
        <!-- Merchant ID Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> DATA </th>
          <td mat-cell *matCellDef="let transaction"> {{ transaction.date | dateFormat  }} </td>
        </ng-container>
    
        <!-- Payment Node Column -->
        <ng-container matColumnDef="paymentType">
          <th mat-header-cell *matHeaderCellDef> TIPO </th>
          <td mat-cell *matCellDef="let transaction"> {{ transaction.paymentType }} </td>
        </ng-container>
    
        <!-- Date Column -->
        <ng-container matColumnDef="grossAmount">
          <th mat-header-cell *matHeaderCellDef> VALOR BRUTO</th>
          <td mat-cell *matCellDef="let transaction"> {{ transaction.grossAmount | currencyFormat }} </td>
        </ng-container>
    
        <!-- Date Column -->
        <ng-container matColumnDef="netAmount">
          <th mat-header-cell *matHeaderCellDef> VALOR LÍQUIDO</th>
          <td mat-cell *matCellDef="let transaction"> {{ transaction.netAmount | currencyFormat }} </td>
        </ng-container>
    
        <!-- Payment Type Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> STATUS </th>
          <td mat-cell *matCellDef="let transaction"> {{ transaction.status }} </td>
        </ng-container>
    
        <!-- Add more columns for other fields -->
    
    
    
    
    
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- ... Existing code ... -->
    
        <tr mat-row *matRowDef="let transaction; columns: displayedColumns;" (click)="showTransactionDetails(transaction)">
        </tr>
        
    
        <!-- ... Existing code ... -->
    
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
    </div>
</div>
<mat-paginator class="w-100" style="position: fixed;bottom: 0.5px;left: 1%;" [pageSizeOptions]="[7, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  