<div class="grid-container p-4">
    <h1 class="mat-h1">DASHBOARD</h1>
    <div class="row row-mx-10">
        <app-resume-trans></app-resume-trans>
    </div>
    <!-- <div class="row row-mx-10">
      <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
          <div class="card h-100">
              <div class="card-body d-flex align-items-center">
                  <div><span class="material-icons text-primary me-3 fs-1">shopping_cart</span></div>
                  <div class="mt-3">
                      <h5 class="font-weight-bold fs-3">744</h5>
                      <h6 class="fs-6">Sales this We</h6>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
        <div class="card h-100">
            <div class="card-body d-flex align-items-center">
                <div><span class="material-icons text-warning me-3 fs-1">show_chart</span></div>
                <div class="mt-3">
                    <h5 class="font-weight-bold fs-3">52.138</h5>
                    <h6 class="fs-6">Visitors this Week</h6>
                </div>
            </div>
        </div>
      </div>
  
      <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
          <div class="card h-100">
              <div class="card-body d-flex align-items-center">
                  <div><span class="material-icons text-success me-3 fs-1">attach_money</span></div>
                  <div class="mt-3">
                      <h5 class="font-weight-bold fs-3">409.783</h5>
                      <h6 class="fs-6">Earnings this Week</h6>
                  </div>
              </div>
          </div>
          
      </div>
  
      <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
        <div class="card h-100" >
            <div class="card-body d-flex align-items-center">
                <div><span class="material-icons text-info me-3 fs-1">add_shopping_cart</span></div>
                <div class="mt-3">
                    <h5 class="font-weight-bold fs-3">153</h5>
                    <h6 class="fs-6">Pending Orders</h6>
                </div>
            </div>
        </div>
      </div>
  
    </div> -->
  
    <div class="row">
  
      <div class="col-lg-12 mb-5">
          <div class="card h-100">
              
              <div class="card-body" style="height: 20rem;">
                <h1>VALOR TOTAL BRUTO/LÍQUIDO POR DIA</h1>
                <app-line-chart></app-line-chart>
              </div>
          </div>
      </div>
  
      
    </div>

    <div class="row">
  
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-body" style="height: 15rem;">
                    <h1>QUANTIDADE DE VENDAS X BANDEIRA</h1>
                    
                  <app-chart></app-chart>
              </div>
            </div>
        </div>
    
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                
                <div class="card-body" style="height: 40rem;">
                    <h1>VENDAS X TIPOS DE PAGAMENTO</h1>
                    <app-pie-charts></app-pie-charts>
              </div>
            </div>
        </div>
      </div>

  
     
</div>
  

